# Coverage files
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.DS_Store
.idea
.RHistory
*__pycache__*
*.egg-info
*.h5
*.pl
*.prof
*.pt
*.wp*
build/
current_bird_release.csv
current_release.csv
docs/_build/
env/
.venv/
lightning_logs/*
public/
tests/__pycache__
tests/data/*
.vscode/
*ipynb_checkpoints/
docs/user_guide/deepforestr.md
uv.lock
