*.egg-info
*.h5
*.pl
*.prof
*.pt
*.wp*
*__pycache__*
.DS_Store
.RHistory
.coverage
.idea
CONTRIBUTING.md
build/
current_bird_release.csv
current_release.csv
lightning_logs/*
public/
tests/__pycache__
tests/data/*
