albumentations>=1.0.0
aiolimiter
aiohttp
bump-my-version
comet_ml
docformatter
pydata-sphinx-theme
geopandas
huggingface_hub>=0.25.0
h5py
kangas
matplotlib
nbmake
nbsphinx
nbqa
numpy
numpydoc
opencv-python-headless>=4.5.4
pandas
pillow>6.2.0
pip
pre-commit
psutil
pycocotools
Pygments
pytest
pytest-profiling
pytorch-lightning
pyyaml>=5.1.0
rasterio
recommonmark
rtree
safetensors
slidingwindow
sphinx<8.2.0
sphinx_markdown_tables
sphinx_rtd_theme
sphinx-design
supervision
tensorboard
torch
torchvision>=0.13
tqdm
twine
xmltodict
yapf
