bumpversion
numpydoc
h5py
geopandas
pandas
pillow=6.2.0
pip
psutil
pytorch_lightning
torch
pyyaml>=5.1.0
pytest
matplotlib
numpy
recommonmark
rasterio
rtree
scikit-image
sphinx
slidingwindow
sphinx_rtd_theme
sphinx_markdown_tables
tqdm
twine
torchvision
xmltodict
comet_ml