albumentations
bumpversion
numpydoc
h5py
geopandas
pandas
pillow
pip
psutil
pytorch_lightning
torch
pyyaml>=5.1.0
pytest
matplotlib
numpy
recommonmark
rasterio
rtree
sphinx >= 1.8
slidingwindow
opencv-python
sphinx_rtd_theme
sphinx_markdown_tables
tqdm
twine
torchvision >= 0.9.0
xmltodict
comet_ml
imagecodecs
