[build-system]
build-backend = "setuptools.build_meta"
requires = [
    "setuptools>=61",
    "setuptools-scm[toml]>=6.2.3",
]

[project]
name = "deepforest"
version = "1.4.1"
description = "Tree crown prediction using deep learning retinanets"
readme = "README.md"
license = { text = "MIT" }
requires-python = ">=3.5,<3.13"
classifiers = [
    "Development Status :: 6 - Mature",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering :: Image Processing",
    "Topic :: Scientific/Engineering :: Image Recognition"
]

authors = [
    { name = "Ben Weinstein", email = "benweinstein@weecology.org" },
    { name = "Henry Senyondo", email = "henrykironde@gmail.com" },
    { name = "Muhammed Magdy", email = "muhammedmagdy1015@gmail.com" },
    { name = "Om Doiphode", email = "omdoiphode161@gmail.com" },
    { name = "Ethan White", email = "ethan@weecology.org" }
]

urls.Documentation = "http://deepforest.readthedocs.io/en/latest/"
urls.Source = "https://github.com/Weecology/DeepForest"
urls.Contributors = "https://github.com/Weecology/DeepForest/graphs/contributors"

dependencies = [
    "albumentations>=1.0.0",
    "aiolimiter",
    "aiohttp",
    "docformatter",
    "huggingface_hub>=0.25.0",
    "geopandas",
    "matplotlib",
    "nbqa",
    "numpy",
    "opencv-python-headless>=4.5.4",
    "pandas",
    "Pillow>6.2.0",
    "progressbar2",
    "pycocotools",
    "pydata-sphinx-theme",
    "Pygments",
    "pytorch-lightning>=1.5.8",
    "rasterio",
    "recommonmark",
    "rtree",
    "safetensors",
    "scipy>1.5",
    "six",
    "slidingwindow",
    "sphinx",
    "supervision",
    "torch",
    "torchvision>=0.13",
    "tqdm",
    "xmltodict",
]

[tool.setuptools]
packages = ["deepforest"]
include-package-data = true
