setuptools
tensorflow
numpy
numpydoc
pandas
keras
tensorflow
pyyaml
pytest
sphinx
sphinx_py3doc_enhanced_theme
sphinxcontrib-napoleon
sphinx_rtd_theme
slidingwindow
sphinx-markdown-tables
opencv-python
tqdm
xmltodict
git+git://github.com/bw4sz/keras-retinanet.git

