bumpversion
numpydoc
h5py
pandas
pillow
pip
psutil
torch
pyyaml>=5.1.0
pytest
matplotlib
numpy
recommonmark
rasterio
scikit-image
sphinx
slidingwindow
sphinx_rtd_theme
tqdm
twine
torchvision
xmltodict