name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'

jobs:
  test-pypi:
    name: Publish to Test PyPI
    runs-on: ubuntu-latest
    if: "!contains(github.ref, '-dev')"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Build package
        run: |
          python -m pip install --upgrade pip build
          python -m build

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true

  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    if: "!contains(github.ref, '-dev')"  # Skip dev versions
    needs: [test-pypi]  # Wait for test-pypi to succeed
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build package
        run: |
          python -m pip install --upgrade pip build
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          skip-existing: true
